sudo: false

language: php

matrix:
  fast_finish: true
  include:

    - php: 5.3
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=1.5.1,<2.0"
    - php: 5.3
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=2.0,<=2.6.1"

    - php: 5.4
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=1.5.1,<2.0"
    - php: 5.4
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=2.0,<=2.6.1"

    - php: 5.5
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=1.5.1,<2.0"
    - php: 5.5
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=2.0,<=2.6.1"
    - php: 5.5
      env: COVERALLS_VERSION="dev-master" PHPCS_VERSION="dev-master"

    - php: 5.6
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=1.5.1,<2.0"
    - php: 5.6
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=2.0,<=2.6.1"
    - php: 5.6
      env: COVERALLS_VERSION="dev-master" PHPCS_VERSION="dev-master"

    - php: 7.0
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=1.5.1,<2.0"
    - php: 7.0
      env: COVERALLS_VERSION="~1.0" PHPCS_VERSION=">=2.0,<=2.6.1"
    - php: 7.0
      env: COVERALLS_VERSION="dev-master" PHPCS_VERSION="dev-master"

before_script:
  - phpenv rehash

install:
  - composer self-update
  - composer require --dev satooshi/php-coveralls:${COVERALLS_VERSION}
  - composer require squizlabs/php_codesniffer:${PHPCS_VERSION}
  - composer install

script:
  - ln -s `pwd` vendor/squizlabs/php_codesniffer/CodeSniffer/Standards/PHPCompatibility
  - mkdir -p build/logs
  - find -L . -path ./Tests/sniff-examples -prune -o -path ./vendor -prune -o -name '*.php' -print0 | xargs -0 -n 1 -P 4 php -l
  - phpunit --configuration phpunit-travis.xml --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v -x build/logs/clover.xml
