<?xml version="1.0" encoding="UTF-8" ?>
<phpdoc>
	<title>PHPCompatibility</title>

	<files>
		<file>PHPCompatibility/*</file>
		<directory>PHPCompatibility/Sniffs/</directory>
	</files>

	<parser>
		<target>build/docs/structure</target>
	</parser>

	<transformer>
		<target>build/docs/output</target>
	</transformer>

	<logging>
		<level>debug</level>
	</logging>

</phpdoc>
