<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.0/phpunit.xsd"
        bootstrap="./phpunit-bootstrap.php"
        backupGlobals="true"
        colors="true"
        verbose="false"
        convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="PHPCompatibility Utilities Tests">
            <directory suffix="UnitTest.php">./PHPCompatibility/Util/Tests/</directory>
        </testsuite>
        <testsuite name="PHPCompatibility Sniffs Tests">
            <directory suffix="UnitTest.php">./PHPCompatibility/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>./PHPCompatibility/Sniff.php</file>
            <directory>./PHPCompatibility/Sniffs/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
