<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="phpunit-bootstrap.php" colors="true" backupGlobals="true">
    <testsuites>
        <testsuite name="PHPCompatibility Utilities Tests">
            <directory suffix="UnitTest.php">./PHPCompatibility/Util/Tests/</directory>
        </testsuite>
        <testsuite name="PHPCompatibility Sniffs Tests">
            <directory suffix="UnitTest.php">./PHPCompatibility/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>

