<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">
    <php>
        <ini name="date.timezone" value="false" />
        <ini name="error_reporting" value="1" />
    </php>
    <testsuites>
        <testsuite name="PHPCompatibility Sniffs Tests">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>

